<div class="row justify-content-center pt-5">
  <div class="col-auto pt-5">
    <p><strong>Você já...</strong></p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto mt-5">
    <div class="row">
      <button class="btn btn-outline-primary px-5 py-3 border-2 rounded-0 rounded-top">
        <span class="mx-4">Tenho conta</span>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-outline-primary px-5 py-3 border-2 border-top-0 rounded-0">
        <span class="mx-4">Quero criar</span>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-outline-primary px-5 py-3 border-2 border-top-0 rounded-0 rounded-bottom">
        <span class="mx-4">Conectar com</span>
      </button>
    </div>
  </div>
</div>
<div class="row justify-content-end pt-5 pb-5">
  <div class="col-auto">
    <button class="btn btn-primary border-0">Continuar ></button>
  </div>
</div>
