<div class="container">
  <header>
    <div class="row align-items-center">
      <div class="col">
        <img src="../assets/images/logo_horizontal_manifesto.png" alt="Logo Manifesto">
      </div>
      <div class="col">
        <div class="d-flex justify-content-between text-primary">
          <a class="navbar-link" routerLink="/home"><span>Sobre</span></a>
          <a class="navbar-link" routerLink="/consultoria"><span>Consultoria</span></a>
          <a class="navbar-link" routerLink=""><span>Cases</span></a>
          <a class="navbar-link" routerLink=""><span>Loja</span></a>
          <a class="navbar-link" routerLink=""><span>Perfil</span></a>
        </div>
      </div>
    </div>
  </header>

  <div class="h-100">
    <router-outlet></router-outlet>
  </div>

  <footer class="pt-5">
    <div class="row justify-content-center h5">
      <div class="col-1">
        <div class="d-flex justify-content-around">
          <i class="bi bi-facebook text-primary"></i>
          <i class="bi bi-instagram text-primary"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-sm">
        <p><strong>Mapa do site:</strong></p>
        <p><a class="footer-link" routerLink="/home">Sobre</a></p>
        <p><a class="footer-link" routerLink="/consultoria">Consultoria</a></p>
        <p><a class="footer-link" routerLink="">Cases</a></p>
        <p><a class="footer-link" routerLink="">Loja</a></p>
        <p><a class="footer-link" routerLink="">Perfil</a></p>
      </div>
      <div class="col-4 align-self-center">
        <div class="d-flex justify-content-center">
          <img src="../assets/images/logo_horizontal_manifesto.png" alt="Logo Manifesto">
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto text-sm">
        <p>Desenvolvido por Otimiz</p>
      </div>
    </div>
    <div class="row justify-content-center" style="background-color: #071664;">
      <div class="col-auto text-sm p-2">
        <p class="text-white m-0">Política de Privacidade • Reportar abuso</p>
      </div>
    </div>
  </footer>
</div>
