<div class="row">
  <div class="col">
    <div class="pt-5 mt-5 text-primary">
      <h1 class="text-bold">Manifesto Ambiental</h1>
      <br>
      <p>O Manifesto Ambiental é uma plataforma de ativismo e de atuação ambiental, fundada com o intuito de informar,
        mobilizar e empoderar, nosso propósito é agir de forma regenerativa na proteção do meio ambiente. Oferecemos
        serviços clássicos de uma forma inovadora, co-criando soluções ambientais e facilitando os caminhos para
        mitigação de impactos negativos e na geração de impactos positivos.</p>
    </div>
  </div>
  <div class="col">
    <div class="d-flex justify-content-end">
      <img class="w-100" src="../../assets/images/home_background.png" alt="Home Background">
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div style="border-radius: 20px !important;" class="bg-primary p-5">
      <div class="row pt-3 pb-3">
        <div class="col">
          <img style="margin-left: 10%;" class="w-75" src="../../assets/images/foto_bruna.png" alt="Foto Bruna">
        </div>
        <div class="col">
          <h3 class="text-secondary text-bold mb-5">Oi, meu nome é Bruna!</h3>
          <p>Sempre fui apaixonada pela natureza e o incomodo com o lixo me fez pensar desde cedo sobre como temos o
            poder de mudar nosso cenário. Sou advogada por formação, me especializei em Direito do Meio Ambiente e
            atualmente faço Mestrado em Gestão Ambiental.</p>
          <p>Minha atuação é de mobilização nas redes sociais, participação em audiências públicas e eventualmente
            organizando atos em protesto pelas causas ambientais. Acredito no poder do coletivo e que a gente pode
            mudar o mundo se estivermos conectados! :)</p>
        </div>
      </div>
    </div>
  </div>
</div>
